modules = ["python-3.12", "python-base-3.13", "python-base-3.12"]
run = "python3 ./main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 ./main.py"]

[workflows]

[[workflows.workflow]]
name = "Gin"
mode = "sequential"
author = 19016378

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push"
